# ides
.vscode
.tern-port

# elm
elm-stuff/
dist/
.cache/

# node
node_modules/

# go
go/.envrc
go/psql_creds.rc
go/server.crt
go/server.key
go/bin/
go/pkg/
go/src/github.com/
go/src/golang.org/

# aws
venv/
cdk.out/
client/aws/aws-exports.js
